<div class="wrapper">
    <%= render "layouts/navbar"%>
    <div class="content-article-wrapper">
        <h2>Articles</h2>
        <div class="list">
           <% @articles.each do |article|%>
                  <div class="article-item" data-controller="navigation" data-action="click->navigation#navigate" data-navigation-target="path" data-content="/articles/<%=article.id%>">
                    <div class="header">
                        <div class="author"><%= User.find(article.user_id).fullname%></div>
                        <div class="time"><%= article.updated_at%></div>
                    </div>
                    <div class="title-article">
                        <%= article.title%>
                    </div>
                </div>
            <% end%>

        </div>
    </div>

</div>
